*{
    text-align: center;
    background-color: black;
    color: white;
    font-family: verdana;

}
.downloadLink {
    color: aquamarine;
    font-size: 16px;
}
#trait{
    color: gray;
    font-size: 21 px;
}

h1{
    font-weight: normal;
    font-size: 50px;
}
h2{
    font-weight: 300;
    font-size: 42px;
}